<div class="wrapper2">

<h1 class="chango">My Data</h1>

	<li class="list-group-item list-group-item-info">
		<h2>Percent of food eaten (not trashed!) over time</h2>
			<p>To save money and other resources, we strive to avoid food waste by eating as much of what we buy as possible. How is your food waste trend?</p>
	</li>

<div id="graph"></div>
<hr>
<div class="row">
	<div class="col-md-6">
		
			<li class="list-group-item list-group-item-success">
				<h2>Favorite Foods</h2>
				<p>These are the main foods you ate more than you threw away.</p>
			</li>
			<% current_user.favorites[0..4].each do |ghost| %>
				<% if ghost.eaten > ghost.trashed %>
				<li class="list-group-item"><strong><%=ghost.name%></strong> was eaten <%=ghost.eaten%> times and thrown out <%=ghost.trashed%> times.</li>
				<% end %>
			<% end %>	
		
	</div>
	
	<div class="col-md-6">
		
			<li class="list-group-item list-group-item-danger">
				<h2>Least Favorite Foods</h2>
				<p>These are the main foods you threw more than you ate. Consider buying less of them</p>
			</li>
			<% current_user.least_favorites[0..4].each do |ghost| %>
				<% if ghost.eaten < ghost.trashed %>
					<li class="list-group-item"><strong><%=ghost.name%></strong> was eaten <%=ghost.eaten%> times and thrown out <%=ghost.trashed%> times.</li>
				<% end %>
			<% end %>
		
		
	</div>
</div>

</div> <!-- wrapper  -->

