<div class="wrapper2">

<h1>The Kitchen</h1>

<% if current_user.kitchen.length > 0 %>
	<ul class="list-group">
		<% if current_user.expires_today.length > 0 %>
			<li class="list-group-item list-group-item-danger row">
				<h2>Expires Today</h2>
			</li>
			<% current_user.expires_today.each do |food| %>
				<li class="list-group-item row">
					<div class="col-xs-1">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							Move to list
						</button>
					</div>
					<div class="col-xs-8">
						<%= food.name %>
					</div>
					<div class="col-xs-2">
						Expires in <%= food.expires_from_now %> days
					</div>
					<div class="col-xs-1">
						<%= link_to food, method: :delete do %><i class='fa fa-trash-o'></i><% end %>					
					</div>
				</li>
			<% end %>
		<% end %>

		<% if current_user.expires_tomorrow.length > 0 %>
			<li class="list-group-item list-group-item-warning">
				<h3>Expires Tomorrow</h3>
			</li>
			<% current_user.expires_tomorrow.each do |food| %>
				<li class="list-group-item row">
					<div class="col-xs-1">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%="#myModal#{food.id.to_s}"%>>
							Move to list
						</button>
					</div>
					<div class="col-xs-8">
						<%= food.name %>
					</div>
					<div class="col-xs-2">
						Expires in <%= food.expires_from_now %> days
					</div>
					<div class="col-xs-1">
						<%= link_to food, method: :delete do %><i class='fa fa-trash-o'></i><% end %>					
					</div>
				</li>
				<% @food = food %>
				<%= render partial: "modal_to_list"%>
			<% end %>
		<% end %>

		<% if current_user.expires_this_week.length > 0 %>
			<li class="list-group-item list-group-item-info row">
				<h3>Expires This Week</h3>
			</li>
			<% current_user.expires_this_week.each do |food| %>
				<li class="list-group-item row">
					<div class="col-xs-1">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%="#myModal#{food.id.to_s}"%>>
							Move to list
						</button>
					</div>
					<div class="col-xs-8">
						<%= food.name %>
					</div>
					<div class="col-xs-2">
						Expires in <%= food.expires_from_now %> days
					</div>
					<div class="col-xs-1">
						<%= link_to food, method: :delete do %><i class='fa fa-trash-o'></i><% end %>					
					</div>
				</li>
				<% @food = food %>
				<%= render partial: "modal_to_list"%>
			<% end %>
		<% end %>

		<% if current_user.expires_later.length > 0 %>
			<li class="list-group-item list-group-item-success row">
				<h2>Expires Later</h2>
			</li>
			<% current_user.expires_later.each do |food| %>
				<li class="list-group-item row">
					<div class="col-xs-1">
						<button type="c" class="btn btn-primary" data-toggle="modal" data-target=<%="#myModal#{food.id.to_s}"%>>
							Move to list
						</button>
					</div>
					<div class="col-xs-8">
						<%= food.name %>
					</div>
					<div class="col-xs-2">
						Expires in <%= food.expires_from_now %> days
					</div>
					<div class="col-xs-1">
						<%= link_to food, method: :delete do %><i class='fa fa-trash-o'></i><% end %>					
					</div>
				</li>
				<% @food = food %>
				<%= render partial: "modal_to_list"%>
			<% end %>
		<% end %>
	</ul>
	

<% else %>
	<h3>Sorry, your kitchen is empty. Go to the list to add food to your kitchen!</h3>
<% end %>



<br>
<%= button_to "Go to List Page",  "/list" , :method => :get, class: "btn btn-default" %>
