<div class="wrapper2">

	<h1 class="chango">My Kitchen</h1>


	<% if current_user.kitchen %>
	<ul class="list-group">
		<% if current_user.expires_today.length > 0 %>
			<li class="list-group-item list-group-item-danger row">
				<h2>Expires Today</h2>
			</li>
			<% current_user.expires_today.each do |food| %>
				<% @food = food %>
				<%= render partial: "kitchen_list_item" %>
				<%= render partial: "modal_check"%>
				<%= render partial: "modal_trash"%>
			<% end %>
		<% end %>

		<% if current_user.expires_tomorrow.length > 0 %>
			<li class="list-group-item list-group-item-warning row">
				<h2>Expires Tomorrow</h2>
			</li>
			<% current_user.expires_tomorrow.each do |food| %>
				<% @food = food %>
				<%= render partial: "kitchen_list_item" %>
				<%= render partial: "modal_check"%>
				<%= render partial: "modal_trash"%>
			<% end %>
		<% end %>

		<% if current_user.expires_this_week.length > 0 %>
			<li class="list-group-item list-group-item-info row">
				<h2>Expires This Week</h2>
			</li>
			<% current_user.expires_this_week.each do |food| %>
				<% @food = food %>
				<%= render partial: "kitchen_list_item" %>
				<%= render partial: "modal_check"%>
				<%= render partial: "modal_trash"%>
			<% end %>
		<% end %>

		<% if current_user.expires_later.length > 0 %>
			<li class="list-group-item list-group-item-success row">
				<h2>Expires Later</h2>
			</li>
			<% current_user.expires_later.each do |food| %>
				<% @food = food %>
				<%= render partial: "kitchen_list_item" %>
				<%= render partial: "modal_check"%>
				<%= render partial: "modal_trash"%>
			<% end %>
		<% end %>
	</ul>
	

<% else %>

	<h3>Sorry, your kitchen is empty. Go to the list to add food to your kitchen!</h3>
	<% end %>

<br>
<%= button_to "Go to List Page",  "/list" , :method => :get, class: "btn btn-default" %>