
<h1>My List</h1>

<ul class="list-group">
	<% @foods.each do |food| %>
		<li class="list-group-item">
			<%= food.name %>
      <%= link_to food, method: :delete do %><i class='fa fa-trash-o'></i><% end %>
			<%= link_to " | Go to Kitchen", move_to_kitchen_path(food.id), :method => :post, data: { confirm: "Are you sure you want to move this item to the kitchen?"}%>
		</li>
	<% end %>
</ul>

<%= form_for @food do |f| %>
	<%= f.search_field 'name' %>
	<%= f.hidden_field 'still_tasty_id' %>
	<%= f.hidden_field 'shelf_life' %>
	<%= f.hidden_field 'purchased', value: false %>
<% end %>

<ul class="list-group" id="suggestions">
	
</ul>

<div class="results"></div>


<%= button_to "Go to Kitchen",  "/kitchen" , :method => :get, class: "btn btn-default" %>








